<app-admin-dashboard></app-admin-dashboard>
<div class="course-management">
  <div class="course-form">
    <h1>Course Management</h1>
   <button (click)="navigateToAddCourse()">Add course</button>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th >Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses$ | async">
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
          <!-- <td>{{ course.isArchived ? 'Archived' : 'Active' }}</td> -->
          <td>
            <span [ngClass]="{'active-status': course.isArchived==true, 'inactive-status': course.isArchived == false}">
              {{ course.isArchived ? 'Archived' : 'Active' }}
            </span>
          </td>
          <td class="buttons">
            <button (click)="editCourse(course)" class="edit">Edit</button>
            <button (click)="archiveCourse({ id: course.id, isArchived: course.isArchived })" class="archive"> {{ course.isArchived ? 'Unarchive' : 'Archive' }}</button>
            <button (click)="deleteCourse(course.id)" class="delete">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
