<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">My LMS</a>
    <ul class="nav-links">
      <li class="cyan"><a routerLink="/instructor/course-creation" routerLinkActive="active">Course Creation</a></li>
      <li class="cyan"><a routerLink="/instructor/student-monitoring" routerLinkActive="active">Student Monitoring</a></li>
      <li class="cyan"><a routerLink="/instructor/grading" routerLinkActive="active">Grading</a></li>
      <li class="red"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!--  -->
