<!-- <div *ngIf="loading">Loading users...</div>
<table *ngIf="!loading">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" >
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>
        <button *ngIf="!user.approved" (click)="onApproveUser(user.id)">Approve</button>
        <button (click)="onDeactivateUser(user.id)">Deactivate</button>
        <button (click)="onDeleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table> -->
<div class="body">
  <div class="container">
    <div *ngIf="loading" class="loading">Loading users...</div>
    <table *ngIf="!loading">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" >
          @if(user.role!="admin"){
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.status }}</td>
          <td>
            <button *ngIf="!user.approved" (click)="onApproveUser(user.id)" class="approved">Approve</button>
            <button (click)="onDeactivateUser(user.id)" class="deactivated">Deactivate</button>
            <button (click)="onDeleteUser(user.id)" class="delete">Delete</button>
          </td>
        }
        </tr>

      </tbody>
    </table>
  </div>
</div>


