<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">My LMS</a>
    <ul class="nav-links">
      <li class="cyan"><a href="/course-management">Course Creation</a></li>
      <li class="cyan"><a routerLink="/student-monitoring" routerLinkActive="active">Student Monitoring</a></li>
      <li class="cyan"><a routerLink="/grading" routerLinkActive="active">Grading</a></li>
      <li class="red"><a href="/login">Logout</a></li>
    </ul>
  </div>
</nav>
<!--  -->
